VITE_API_URL=http://localhost:5000/api
MONGO_URI=mongodb+srv://mabuzamongezi80_db_user:3PvtysZxbMSaxbm4@cluster0.pfbgifo.mongodb.net/?appName=Cluster0
JWT_SECRET=8f3ka92mQpz7Lx4vRt6yNc1wEbUj5oGh
ADMIN_PASSWORD_HASH=$2a$10$gb0owxfuXUOxE2Zv5XmA7OylXh9lfjQzDBI3dAZGM3DPwMZ/a8oFu
